*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #7F79FF;
  --primary-darken: #534cda;
  --primary-lighten: #a6a1ff;
  --primary-light: #dbd9ff;
  --background: #1e1e2a;
  --background-darken: #121218;
  --background-lighten: #28283a;
  --text: #dedcff;
  --text-lighten: #ffffff;
  --text-inverse: #0e0d1d;
  --text-secondary: #bebbf6;
  --text-tertiary: #a29eee;
  --border-color: #323250;
  --tag-color: #44445f;

  --table-header: #2b2b41;
  --table-row: #1e1e2a;
  --table-row-alt: #262636;
  
  --container-width: 1600px;

  --signal-tile: #545097;
}

body {
  background-color: var(--background);
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  border: 2px solid var(--primary-darken);
  color: var(--text-lighten);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-darken);
    transform: scale(1.01);
  }
  &:disabled {
    background-color: var(--background-darken);
    border-color: var(--text-secondary);
    color: var(--text-secondary);
    cursor: unset;
  }
}

p, div {
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-lighten);
}

input, select {
  background-color: var(--background-darken);
  color: var(--text);
}

.section {
  margin-bottom: 3rem;
  width: 100%;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
}

.v-select {
  background-color: var(--background-darken);
  border: 1px solid var(--border-color);
  .vs__selected {
    background-color: var(--background-lighten);
    color: var(--text);
    button svg {
      fill: var(--text-tertiary);
    }
  }
  .vs__dropdown-menu {
    background-color: var(--background);
  }
}